
<div >

      <div class="modal-header">
        <button type="button" class="close" ng-click="cancelHandler()" data-dismiss="modal">&times;</button>
        <h3 class="panel-title">User Registration</h3>
      </div>
    
      <div class="modal-body" >
        
            
            <div class="form-group">
              <label>Design Name </label>
              <input class="form-control" type="textinput">  
            </div>

            <div class="form-group">
              <label>Email </label>
              <input class="form-control" type="textinput">  
            </div>

            <div class="form-group">
              <label>Password </label>
              <input class="form-control" type="textinput">  
            </div>

            <div class="form-group">
              <label>Re-enter password</label>
              <input class="form-control" type="textinput">  
            </div>
            
            <div class="form-group">
              <label>Name</label>
              <input class="form-control" type="textinput">  
            </div>
          
          
          
      </div>
      <div class="modal-footer">
          
        <button class="btn btn-primary" type="button" ng-click="okHandler()">Save</button>
          
      </div>
</div>
