<div class="modal-content">
    {{}}
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancelHandler()" data-dismiss="modal">&times;</button>
        <h3 class="panel-title">Alert</h3>
      </div>
      <div class="modal-body">
        <p>You have not set data source for any controls, Please set data source and try again.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="okHandler()">OK</button>
        <button class="btn btn-default" type="button" ng-click="cancelHandler()">CANCEL</button>
      </div>
</div>