body {
  background-color: #f7f7f7;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/

/*style="top: 0px; left: 17.3696px; width: 288.603px; height: 367.434px;" */

#container {
  width: 100%;
  height: 100%;
  border: solid 1px #2856B6;     
}

#navMenu {
    background: #5f5f5f;
    max-height: 50px;
    overflow: hidden;
}
#navMenu ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu_container li {
    display: inline;
    float: left;
    margin: 10px;
    margin-left: 2em;
}

.hidethis{
  display:  none;
}

.inputClass {
  width: 100% !important;
  height: 100% !important;
}

.target{
  float:left;
  content: " ";
  height: 40px;
  margin-top: 3px;
  background: #f0f0f0;
  width: 160px;
  border: 1px dashed #ccc;
}

.selectedComponent {
    border: 1px;
    border-color: black;
}


/*  helpers */


.workspace-rotate{z-index:2;position:relative;left:150px;top:10px;margin:auto;vertical-align:middle;width:45px;height:64px}
.workspace-rotate.active{color:#1b7c9f}
.workspace-rotate.active svg path{fill:#1b7c9f}
.workspace-rotate:hover #rotate{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
.workspace-rotate:active #rotate{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
.workspace-rotate svg{position:relative;top:3px}
.workspace-rotate #rotate{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:-webkit-transform .25s linear;transition:-ms-transform .25s linear;transition:transform .25s linear}
.workspace-rotate.active-printarea #rotate{-webkit-transform:scale(-1,1);-ms-transform:scale(-1,1);transform:scale(-1,1)}
.workspace-rotate.active-printarea:hover #rotate{-webkit-transform:scale(-1.1,1.1);-ms-transform:scale(-1.1,1.1);transform:scale(-1.1,1.1)}
.workspace-rotate.active-printarea:active #rotate{-webkit-transform:scale(-1.1,1.1);-ms-transform:scale(-1.1,1.1);transform:scale(-1.1,1.1)}
.workspace-rotate #move{position:relative;top:-5px}
